{% set state.page_title = 'HelpBot Set New Password' %}
{% extends state.template_base %}


{% block content %}
    <section class="container-fluid" style="height: 50vh;">
        {% include 'base/errors.html' %}
        {% include 'base/messages.html' %}
        <div class="row mt-5">
            <div class="col-12 col-lg-6 m-auto">
                <h1>Set new password</h1>
                <form method="POST" id="reset-password-form" action="/{{ state.lang }}/reset-password/">
                    <p>
                        <label>Enter your new password:</label><br>
                        <input id="password_one" class="form-control" type="password" name="password" />
                    </p>
                    <p>
                        <label>Verify password: </label><br>
                        <input id="password_two" class="form-control" type="password" name="password2" />
                    </p>
                    <input hidden value="{{ request.query_params.get('token') }}" name="token" />
                    <input hidden value="{{ state.lang }}" name="lang" />
                    <button class="btn btn-primary" type="submit">Set new password</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}


{% block footer_scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let form = document.getElementById("reset-password-form")
            form.addEventListener("submit", function(e) {
                let password = document.getElementById("password_one").value
                let password2 = document.getElementById("password_two").value
                if (password !== password2) {
                    e.preventDefault()
                    toastr.warning("Passwords do not match!")
                    return false
                }
            })
        })
    </script>
{% endblock %}
