{% set state.page_title = 'HelpBot Reset Password' %}
{% extends state.template_base %}


{% block content %}
    <section class="container-fluid" style="height: 50vh;">
        {% include 'base/errors.html' %}
        {% include 'base/messages.html' %}
        <div class="row mt-5">
            <div class="col-12 col-lg-6 m-auto">
                <h1>Reset Password</h1>
                <p>If you are a registered user you will get an email with a reset password link on your inbox.</p>
                <form id="reset-password-form">
                    <p>
                        <label>Enter your email:</label><br>
                        <input class="form-control" type="email" id="email-input" name="email">
                    </p>
                    <button class="btn btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}


{% block footer_scripts %}
    <script>
		async function resetPassword(email) {
			try {
                const lang = "{{ state.lang }}"
				const response = await fetch(`/{{ state.lang }}/reset-password-step-1`, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({ email, lang }),
				});

				const data = await response.json();

				if (response.ok) {
					toastr.success(data.message, 'Success');
				} else {
					toastr.error(data.error, 'Error');
				}
			} catch (error) {
				toastr.error('Failed to connect to the server', 'Error');
			}
		}

		document.getElementById('reset-password-form').addEventListener('submit', (e) => {
            e.preventDefault()
			const email = document.getElementById('email-input').value;
			resetPassword(email);
		});

 
    </script>
{% endblock %}
