<!--# set var='document_title' value='User authorization' -->
<!--# include file='/_ssi/header.html' -->

<!--# if expr='$user_email' -->
    <div class="card mx-auto" style="width: 60%">
        <div class="card-header">
            <h1 translate="yes">Authorised Access</h1>
        </div>
        <div class="card-body">
            <p class="card-text">
                <a href="/<!--# echo var='request_lang' -->/user/profile.html">
                    <b><!--# echo var='user_name' --></b> profile
                </a>
            </p>
        </div>
    </div>

<!--# else -->
    <section class="container-fluid">
		{% include 'base/errors.html' %}
        {% include 'base/messages.html' %}
        <div class="row">
            <div class="col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary-subtle">
                <div class="p-3 p-lg-5">
                    <div class="text-center">
                        <h2 class="fw-bold">Welcome to the HelpBot AI</h2>
                        <p class="mb-0 h6 fw-light">Always Willing, Always Able</p>
                    </div>
                    <img src="/_/img/element/02.svg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-12 col-lg-6 m-auto">
                <div class="row my-5">
                    <div class="col-sm-10 col-xl-8 m-auto">
                        <h1 class="fs-2">Login into account</h1>
                        <p class="lead mb-4">Please log in with your account.</p>
                        <form method="POST" action="/{{ request.path.split('/')[1] }}/sign-in">
                            <p>
                                <input name="lang" hidden value="{{ request.path.split('/')[1] }}" />
                                <label class="form-label">Email address *</label>
                                <input name="email" type="email" class="form-control" placeholder="E-mail">
                            </p>
                            <p>
                                <label class="form-label">Password *</label>
                                <input name="password" type="password" class="form-control" placeholder="password">
                                <div id="passwordHelpBlock" class="form-text">
                                    Your password must be 8 characters at least
                                </div>
                            </p>

                            <div class="mb-4 d-flex justify-content-between">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        Remember me
                                    </label>
                                </div>

                                <div>
                                    <a href="#" class="text-secondary">
                                        <u>Forgot password?</u>
                                    </a>
                                </div>
                            </div>

                            <p class="d-grid">
                                <button class="btn btn-primary" type="submit">Login</button>
                            </p>
                        </form>

                        <div class="position-relative my-4">
                            <hr>
                            <p class="small position-absolute top-50 start-50 translate-middle bg-body px-4">Or</p>
                        </div>

                        <div class="row">
                            <!-- Social btn -->
                            <div class="col-xxl-6 d-grid py-3">
								<form method="POST" action="/auth/google/start?rd=/auth/sign-in%3Frd%3D/<!--# echo var='request_lang' -->/assistants.html">
                                    <button type="submit" disabled class="btn btn-primary">
                                        <i class="bi bi-google"></i>
                                        <span translate="yes">Login with Google</span>
                                    </button>
                                </form>
                            </div>
                            <!-- Social btn -->
                            <div class="col-xxl-6 d-grid py-3">
                                <form method="POST" action="/auth/github/start?rd=/auth/sign-in%3Frd%3D/<!--# echo var='request_lang' -->/assistants.html">
                                    <button type="submit" disabled class="btn btn-warning">
                                        <i class="bi bi-github"></i>
                                        <span translate="yes">Login with GitHub</span>
                                    </button>
                                </form>
                            </div>
                        </div>

                        <p class="mt-4 text-center">
                            <span>Don't have an account? <a href="sign-up.html">Signup here</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--# endif -->

<!--# include file='/_ssi/footer.html' -->
