<!--# set var='document_title' value='HelpBot AI' -->
<!--# include file='/_ssi/header.html' -->

<div class="px-4 py-4 my-3 text-center">
    <img class="d-block mx-auto mb-4" src="/_/img/akira-logo.png" width="140" alt="<!--# echo var='project_title' --> Logotype">
    <h1 class="display-5 fw-bold"><!--# echo var='project_title' --></h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">HelpBot AIは、ユーザーがカスタムチャットボットを迅速かつ効率的に作成、トレーニング、展開するために設計されたプラットフォームです。</p>
    </div>
</div>

<div class="row">
    <div class="col-md my-3">
        <div class="card h-100">
            <div class="card-header">
                <h2 class="card-title">主な利点</h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>コスト効果の高いサポート</strong>: 既存のドキュメントを活用することで、企業はコストを削減しながら顧客サポート体験を向上させることができます。</li>
                <li class="list-group-item"><strong>生産性の向上</strong>: チャットボットを使ってタスクを自動化することで、チームはより重要な活動に集中でき、全体的な生産性が向上します。</li>
                <li class="list-group-item"><strong>24時間365日の対応</strong>: バーチャルアシスタントは24時間体制でサポートを提供でき、顧客の問い合わせにいつでも対応できるようにします。</li>
            </ul>
        </div>
    </div>
    <div class="col-md my-3">
        <div class="card h-100">
            <div class="card-header">
                <h2 class="card-title">主要機能</h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>簡単なボット作成</strong>: ユーザーは複雑なコーディングスキルを必要とせずに、数分で自分のバーチャルアシスタントを作成できます。</li>
                <li class="list-group-item"><strong>既存の知識との統合</strong>: HelpBotは企業の既存の知識ベースを活用し、関連する応答を生成しやすくし、AIコピーライティングを改善します。</li>
            </ul>
        </div>
    </div>
</div>


<p>HelpBot AIはチャットボット開発のプロセスを合理化し、顧客サポートや業務効率を向上させたい企業にとってアクセスしやすいものにします。</p>

<!--# include file='/_ssi/footer.html' -->