<!--# include file='/_ssi/header.html' -->

<h1>
    <span class="badge text-bg-danger"><!--# echo var='status' --></span>
    <span><!--# echo var='document_title' --></span>
</h1>

<!--# if expr='$status = 404' -->
    <p translate="yes">We are sorry, the page you requested cannot be found.</p>
    <p translate="yes">The URL may be misspelled or the page you're looking for is no longer available.</p>

<!--# elif expr="$status = 500" -->
    <p translate="yes">Sorry, the page you are looking for is currently unavailable. Please try again later.</p>
    <p translate="yes">If you are the system administrator of this resource then you should check the error log for details.</p>

<!--# endif -->

<!--# include file='/_ssi/footer.html' -->
